<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SPS-5", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "About", about_path %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Tools <b class="caret"></b>
            </a>
            <ul clas="dropdown-menu">
              <li><%= link_to "SecurityKey", security_key_path %></li>
              <li><%= link_to "ShortMAC-I", "#" %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>